body {
    background-image: url(http://www.wallpaper77.com/upload/DesktopWallpapers/cache/Maserati-Granturismo-S-Back-maserati-wallpaper-car-wallpaper-1920x1080.jpg);
    background-size: cover;
    color: black;ogin.jpeg)
    background-color: lavenderblush;
}
